*.cpp text
*.h text
*.zig text
*.txt text
* text eol=lf
*.pdb filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.o filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
bin/x64/dxc filter=lfs diff=lfs merge=lfs -text
bin/x64/libdxcompiler.so.3.7 filter=lfs diff=lfs merge=lfs -text
